.mainVBox {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.sapMITBHead{
  text-align: center;
}

  /* Center content within IconTabFilter */
.sapMITBContent .sapMITBText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4àpx;
}

  .buttonHBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Added gap to separate buttons */
  }
  
  Button {
    min-width: 100px;
  }
  
  #responseTable {
    margin: 0 auto;
  }
  
  .sapUiSmallMarginBottom {
    margin-bottom: 10px;
  }
  
  .sapUiResponsiveMargin {
    margin: 0 10px;
  }
  html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }
 /*  ProductRating */
 .myAppDemoWTProductRating {
    padding: 0.75rem;
 }
 .myAppDemoWTProductRating .sapMRI {
    vertical-align: initial;
 }

 .sapMITBItem {
   padding: 0 15px; /* Ajuste l'espace autour des onglets */
   width: 180px; 
   
}


.sapMITBFilter .sapMITBText .sapMITHTextContent {
   display: inline-block;
    /* max-width: 100%;  */
    min-width: fit-content;
   overflow: hidden; 
   text-overflow: ellipsis;
   vertical-align: bottom;
   margin-left: 35px;
   
}

.detailsVBox {
  padding: 20px;
  background-color: #ebf8ff;
  border-radius: 8px;
}

.detailsVBox .detailItem {
  margin-bottom: 10px;
}

.detailsVBox .detailLabel {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.detailsVBox .detailText {
  display: inline-block;
}

.sapMObjStatusSuccess .sapMObjStatusText {
  color: #2cba2e;
}

.sapMObjStatusError .sapMObjStatusText {
  color: #e01919;
}

.sapMITBFilter .sapMITBText .sapMITHTextContent {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 30%;
}

.sapMITH .sapMITBContentArrow {
  width: 140%;
  margin-right: 10%;
}

.sapMITBItem {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sapMITBFilterIcon {
  border: 2px solid #0064d9;
  margin-left: 20%;
}

.sapUiUserSelectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
  text-align: center;
}
