.mainVBox {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttonHBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Added gap to separate buttons */
  }
  
  Button {
    min-width: 100px;
  }
  
  #responseTable {
    margin: 0 auto;
  }
  
  .sapUiSmallMarginBottom {
    margin-bottom: 10px;
  }
  
  .sapUiResponsiveMargin {
    margin: 0 10px;
  }
  html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }
 /*  ProductRating */
 .myAppDemoWTProductRating {
    padding: 0.75rem;
 }
 .myAppDemoWTProductRating .sapMRI {
    vertical-align: initial;
 }

 .sapMITBItem {
   padding: 0 15px; /* Ajuste l'espace autour des onglets */
   width: 180px; 
   
}

.redMessage {
  color: red !important;
  
}

.greenMessage {
  color: green !important;
}

.sapMITBFilter .sapMITBText .sapMITHTextContent {
   display: inline-block;
    /* max-width: 100%;  */
    min-width: fit-content;
   overflow: hidden; 
   text-overflow: ellipsis;
   vertical-align: bottom;
   margin-left: 35px;
   
}



  